<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bienvenus sur love letter</title>
    </head>
    <body>

    <a title="Creer une partie" href="{{ path('jeu_creerPartie') }}">Créer une partie</a>

    {#<a title="Rejoindre une partie" href="{{ path('') }}">Rejoindre une partie</a>#}



    {% block jeu %}

    {% endblock %}


    </body>
</html>