
{% extends '::squelette.html.twig' %}

{% block accueil %}
    <h1>Bienvenu sur love letter</h1>
    <a title="Creer une partie" class="btn btn-primary" href="{{ path('jeu_creerPartie') }}">Creer une partie</a>
    <a title="Rejoindre une partie" class="btn btn-primary" href="{{ path('jeu_rejoindrePartie') }}">Rejoindre une partie</a>

{% endblock %}



