<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bienvenus sur love letter</title>
    </head>
    <body>


    {% block jeu %}

    {% endblock %}


    </body>
</html>