{# src/LL/UserBundle/Resources/views/Security/login.html.twig #}

{% extends 'squelette.html.twig' %}

{% block body %}

    {# Redirection vers le login #}
    <form action="{{ path('login') }}" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>

    {# Redirection vers le register #}
    <form action="{{ '/Symfony/web/app_dev.php/user/register' }}" method="get">
        <input type="submit" class="btn btn-default" value="Register">
    </form>

{% endblock %}